<!DOCTYPE html>
<html>
  <head>
    <title> BoxyPrint </title>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/1/dropins.js" id="dropboxjs" data-app-key="k2mqkdqq904cvcv"></script>
  </head>
<body>
  <%= yield %>
</body>
</html>
